.work-experience-card {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #200d3f, #11071f, black);
    /* border-radius: 8px; */
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: auto; /* Remove fixed height */
    /* margin-bottom: 60px; */
}

.centered-info {
    margin-bottom: 20px;
}

.time {
    font-size: 20px;
    color: #ccc;
}

.company-name {
    font-size: 28px;
    font-weight: bold;
    color: white;
}

.job-title {
    font-size: 24px;
    color: #836d98;
}

.description {
    font-size: 24px;
    color: white;
    margin: 10px 0;
}

.spotlight-projects-title {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    color: #7127BA;
}

.spotlight-projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.project-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.project-image {
    width: 100%;
    height: 50%;
    border-radius: 5px;
    object-fit: cover;
}

.project-title {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.project-time {
    font-size: 18px;
    color: #666;
}

.project-description {
    font-size: 16px;
    color: #333;
    margin: 5px 0; /* Margin for spacing */
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.demo-link {
    color: #7127BA;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.demo-link svg {
    margin-left: 5px;
}

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}

.tech-item {
    background-color: rgba(113, 39, 186, 0.2);
    border-radius: 5px;
    padding: 5px 10px;
    margin: 2px;
    font-size: 14px;
    color: white;
}

.tech-demo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

/* Responsive Design */
@media only screen and (max-width: 1200px) {
    .company-name {
        font-size: 24px;
    }

    .job-title {
        font-size: 22px;
    }

    .description {
        font-size: 22px;
    }

    .spotlight-projects {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on tablets */
    }

    .project-title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .work-experience-card {
        padding: 15px;
    }

    .company-name {
        font-size: 22px;
    }

    .job-title {
        font-size: 20px;
    }

    .description {
        font-size: 20px;
    }

    .spotlight-projects {
        grid-template-columns: 1fr; /* Single column on mobile */
    }

    .project-item {
        margin: 5px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-time {
        font-size: 16px;
    }

    .project-description {
        -webkit-line-clamp: 4; /* Limit to 2 lines on mobile and tablet */
    }
}

@media only screen and (max-width: 480px) {
    .company-name {
        font-size: 20px;
    }

    .job-title {
        font-size: 18px;
    }

    .description {
        font-size: 18px;
    }

    .project-title {
        font-size: 16px;
    }

    .project-time {
        font-size: 14px;
    }

    .project-description {
        font-size: 12px;
    }
}